:root{--background:#ffffff;--background-hover:#f0f1f3;--surface-0:#ffffff;--surface-0-hover:#f0f1f3;--surface-0-hover-accent:#e2eefa;--surface-1:#f0f1f3;--surface-1-hover:#e0e1e3;--surface-2:#000000;--surface-2-hover:#1e1f21;--border:#dcdcdc;--divider:#dcdcdc;--constant-light:#ffffff;--constant-dark:#3c3c3c;--field-body:#ffffff;--field-placeholder:#969696;--field-placeholder-disabled:#dcdcdc;--invert-emphasis:#ffffff;--invert-emphasis-tone-value-x1:rgba(255,255,255,0.16);--invert-emphasis-tone-value-x2:rgba(255,255,255,0.24);--invert-emphasis-tone-value-x3:rgba(255,255,255,0.4);--soft:#b4b4b4;--low-emphasis:#969696;--medium-emphasis:#696969;--high-emphasis:#3c3c3c;--extra-emphasis:#000000;--accent-primary:#4792de;--accent-primary-hover:#2482e2;--accent-primary-tone-value-x1:rgba(71,146,222,0.16);--accent-primary-tone-value-x2:rgba(71,146,222,0.24);--accent-primary-tone-value-x3:rgba(71,146,222,0.4);--accent-conversion:#e54c3f;--accent-conversion-hover:#e43020;--accent-conversion-tone-value-x1:rgba(229,76,63,0.16);--accent-conversion-tone-value-x2:rgba(229,76,63,0.24);--accent-conversion-tone-value-x3:rgba(229,76,63,0.4);--accent-common:#f0f1f3;--accent-common-hover:#e0e1e3;--state-error:#ff312d;--state-warning:#ff9e2d;--state-success:#21c35d;--info-announcement:#ffde4e}
.theme-night{--background:#18191b;--background-hover:#242527;--surface-0:#18191b;--surface-0-hover:#242527;--surface-0-hover-accent:#202c3a;--surface-1:#242527;--surface-1-hover:#303133;--surface-2:#0c0d0f;--surface-2-hover:#1e1f21;--border:#303133;--divider:#303133;--constant-light:#ffffff;--constant-dark:#3c3c3c;--field-body:#303133;--field-placeholder:#707173;--field-placeholder-disabled:#4a4a4d;--invert-emphasis:#e5e6eb;--invert-emphasis-tone-value-x1:rgba(255,255,255,0.16);--invert-emphasis-tone-value-x2:rgba(255,255,255,0.24);--invert-emphasis-tone-value-x3:rgba(255,255,255,0.4);--soft:#919499;--low-emphasis:#4e4f51;--medium-emphasis:#919499;--high-emphasis:#e5e6eb;--extra-emphasis:#ffffff;--accent-primary:#4792de;--accent-primary-hover:#2482e2;--accent-primary-tone-value-x1:#202c3a;--accent-primary-tone-value-x2:#23364a;--accent-primary-tone-value-x3:#2b4969;--accent-conversion:#e54c3f;--accent-conversion-hover:#e43020;--accent-conversion-tone-value-x1:#392121;--accent-conversion-tone-value-x2:#492524;--accent-conversion-tone-value-x3:#6a2d29;--accent-common:#242527;--accent-common-hover:#303133;--state-error:#ff4842;--state-warning:#ffaa40;--state-success:#1bcd42;--info-announcement:#ffde4e}
.theme-purple-brand-unit{--surface-0:#6532ba;--constant-light:#ffffff;--constant-dark:#3c3c3c;--accent-primary:#ffffff;--invert-emphasis-tone-value-x1:rgba(255,255,255,0.16)}
:root{--brand-purple-light:#d0c6f7;--brand-purple-medium:#6532ba;--brand-purple-dark:#271759;--brand-sky-light:#b8dcfd;--brand-sky-medium:#214999;--brand-sky-dark:#0e2a54;--brand-mint-light:#b5f1e3;--brand-mint-medium:#2c5d72;--brand-mint-dark:#11323d;--brand-emerald-light:#cdffb9;--brand-emerald-medium:#165e50;--brand-emerald-dark:#06352b;--brand-olive-light:#f7f181;--brand-olive-medium:#505b13;--brand-olive-dark:#2f300b;--brand-wood-light:#f0df93;--brand-wood-medium:#722c11;--brand-wood-dark:#3c0d01;--brand-peach-light:#ffd9c4;--brand-peach-medium:#c94f12;--brand-peach-dark:#661805;--brand-candy-light:#ffccf3;--brand-candy-medium:#7b407a;--brand-candy-dark:#401141;--additional-coral:#ff4e32;--additional-yellow:#ffbe34;--additional-green-light:#21c35d;--additional-teal:#58b9af;--additional-light-blue:#42a5cf;--additional-blue:#2482e2;--additional-blue-grey:#95b9c9;--additional-brown:#c49687;--additional-gold:#d68a4d}
:root{--shadow-xs:0 1px 2px rgba(0,0,0,0.08),0 0 1px rgba(0,0,0,0.16);--shadow-s:0 2px 4px rgba(0,0,0,0.04),0 0 1px rgba(0,0,0,0.24);--shadow-s-soft:0 2px 8px rgba(0,0,0,0.08),0 0 1px rgba(0,0,0,0.16);--shadow-m:0 4px 8px rgba(0,0,0,0.08),0 0 1px rgba(0,0,0,0.16);--shadow-l:0 8px 16px rgba(0,0,0,0.08),0 0 1px rgba(0,0,0,0.24);--shadow-xl:0 0 1px rgba(0,0,0,0.24),0 8px 40px rgba(0,0,0,0.12)}
:root{--facebook:#1877f2;--facebook-hover:#0c6be6;--google:#db4437;--google-hover:#cf382b;--twitter:#1da1f2;--twitter-hover:#18a0d1;--instagram:linear-gradient(135.26deg,#2074f0 7.27%,rgba(255,0,82,0) 52.89%),radial-gradient(97.08% 97.08% at 38.33% 102.5%,#ffd67e 5.59%,#ff7664 37.48%,#de359a 63.79%,#7247d6 94.99%);--youtube:#fd0112;--pinterest:#e20026;--pinterest-hover:#c1302d;--linkedin:#0077b5;--medium:#ffffff}
:root{--headline-80:80px;--headline-64:64px;--headline-48:48px;--headline-40:40px;--headline-32:32px;--headline-24:24px;--headline-20:20px;--text-18:18px;--text-16:16px;--text-14:14px;--text-12:12px;--text-11:11px;--text-10:10px;--text-9:9px;--text-8:8px;--headline-80-height:88px;--headline-64-height:72px;--headline-48-height:56px;--headline-40-height:48px;--headline-32-height:40px;--headline-24-height:32px;--headline-20-height:28px;--text-18-height:24px;--text-16-height:24px;--text-14-height:20px;--text-12-height:16px;--text-11-height:14px;--text-10-height:12px;--text-9-height:12px;--text-8-height:12px;--font-arial:arial,helvetica,sans-serif;--font-roboto:roboto,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;--font-80:var(--headline-80)/var(--headline-80-height) var(--font-arial);--font-64:var(--headline-64)/var(--headline-64-height) var(--font-arial);--font-48:var(--headline-48)/var(--headline-48-height) var(--font-arial);--font-40:var(--headline-40)/var(--headline-40-height) var(--font-arial);--font-32:var(--headline-32)/var(--headline-32-height) var(--font-arial);--font-24:var(--headline-24)/var(--headline-24-height) var(--font-arial);--font-20:var(--headline-20)/var(--headline-20-height) var(--font-arial);--font-18:var(--text-18)/var(--text-18-height) var(--font-arial);--font-16:var(--text-16)/var(--text-16-height) var(--font-arial);--font-14:var(--text-14)/var(--text-14-height) var(--font-arial);--font-12:var(--text-12)/var(--text-12-height) var(--font-arial);--font-11:var(--text-11)/var(--text-11-height) var(--font-arial);--font-10:var(--text-10)/var(--text-10-height) var(--font-arial);--font-9:var(--text-9)/var(--text-9-height) var(--font-arial);--font-8:var(--text-8)/var(--text-8-height) var(--font-arial)}

:root{--space-1x:8px;--space-quarter:calc(var(--space-1x) * 0.25);--space-half:calc(var(--space-1x) * 0.5);--space-one-half:calc(var(--space-1x) * 1.5);--space-2x:calc(var(--space-1x) * 2);--space-3x:calc(var(--space-1x) * 3);--space-4x:calc(var(--space-1x) * 4);--space-5x:calc(var(--space-1x) * 5);--space-6x:calc(var(--space-1x) * 6);--space-7x:calc(var(--space-1x) * 7);--space-8x:calc(var(--space-1x) * 8);--space-9x:calc(var(--space-1x) * 9);--space-10x:calc(var(--space-1x) * 10);--space-11x:calc(var(--space-1x) * 11);--space-12x:calc(var(--space-1x) * 12);--space-13x:calc(var(--space-1x) * 13);--space-14x:calc(var(--space-1x) * 14);--space-15x:calc(var(--space-1x) * 15);--space-18x:calc(var(--space-1x) * 18);--border-1x:calc(var(--space-1x) * 0.25);--border-half:calc(var(--border-1x) * 0.5);--vh:1vh}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}h1,
h2,
h3,
h4,
h5,
h6,
b,
strong{font-weight:bold}html{overflow-y:scroll;box-sizing:border-box}*,
*::before,
*::after{box-sizing:inherit}:focus{outline:0}article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{display:block}body{min-height:100vh;line-height:1;font-size:var(--text-12);font-family:Arial,Helvetica,sans-serif}ol,
ul{list-style:none}blockquote,
q{quotes:none}table{border-collapse:collapse;border-spacing:0}textarea{overflow:auto;vertical-align:top;resize:vertical}a{text-decoration:none;color:inherit}a:active,
a:hover{outline:0}button,
input,
select,
textarea{margin:0;font-family:inherit;font-size:100%;vertical-align:baseline}button,
select{text-transform:none}button,
html input[type='button'],
input[type='reset'],
input[type='submit']{cursor:pointer}button[disabled],
html input[disabled]{cursor:default}html,
button,
input,
select,
textarea{color:var(--high-emphasis)}button{background:transparent;border:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}
html{width:100%;height:100%;text-size-adjust:100%}body{position:relative;width:100%;height:100%;background-color:var(--background);overflow-anchor:none}body > #app{height:100%}.teleport{position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none}img:not([src]){visibility:hidden}s[data-currency-code]{text-decoration:none}html.lock-scroll{overflow:visible;overflow-anchor:none;height:100%}body.lock-scroll{height:auto;min-height:100%;overflow:hidden}@media (max-width: 990px){body.lock-scroll{position:fixed;top:var(--scrolled-page);right:0;bottom:0;left:0}}
